.About{
    display: inline-block;
    margin: 5px;
}

.mugshot{
    width: 250px;
    height: 312px !important;
}

.photoframe{
    color: #f8f9fa;
}

.container{
    max-width: 96%;
}

.test{
    background-color: red;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.contactbutton{
    margin: 50px 0 20px 0;
}