.footer {
  background-color: #f8f9fa;
  height: 7vh;
}

.footerimg {
  height: 5vh;
  margin: 10px 5px 0 5px;
}

.footerimg:hover {
  opacity: 0.5;
}

.copywrite {
  
  display: inline;
  font-size: 10px;
  float: left;
}

.links {
  height: 5px;
  display: inline-block;
}
.email{
  display: block;
  height: 15px
}

.contactinfo{
  float: right;
}

.row{
  width: 100%;
}
